[package]
name = "sqlx-askama-template"
version = "0.2.0"
edition = "2024"
license = "Apache-2.0"
description = "Type-safe SQL templates with Askama and SQLx"
repository = "https://github.com/gouhengheng/sqlx-askama-template"
readme = "README.md"
keywords = ["sqlx", "askama", "database", "template"]
categories = ["database", "template-engine"]

[workspace]
members = [".", "sqlx-askama-template-macro"]

[features]
full = ["postgres", "mysql", "sqlite", "any"]
postgres = ["sqlx/postgres"]
mysql = ["sqlx/mysql"]
sqlite = ["sqlx/sqlite"]
any = ["sqlx/any", "dep:sqlx-core", "dep:tracing"]
[dependencies]
sqlx = { version = "0.8", default-features = false }
#sqlx-askama-template-macro = "0.1.0"
sqlx-askama-template-macro = { path = "./sqlx-askama-template-macro" }
askama = "0.13.0"
futures-core = "0.3.31"
thiserror = "2.0.12"
futures-util = "0.3.31"
sqlx-core = { version = "0.8", optional = true }
tracing = { version = "0.1", optional = true }

[dev-dependencies]
tokio = { version = "1.0", features = ["full"] }

[[example]]
name = "example_marco" # 对应 examples/example_marco.rs
required-features = [
    "sqlx/macros",
    "sqlx/any",
    "sqlx/postgres",      # PostgreSQL支持
    "sqlx/mysql",         # MySQL支持
    "sqlx/sqlite",        # SQLite支持
    "sqlx/runtime-tokio", # 
]

[[example]]
name = "example_adapter" # 对应 examples/example_adapter.rs
required-features = [
    "sqlx/macros",
    "any",
    "postgres",           # PostgreSQL支持
    "mysql",              # MySQL支持
    "sqlite",             # SQLite支持
    "sqlx/runtime-tokio", # 
]
